.customized table.comparison tr td {
	text-align:     center;
	vertical-align: middle }

.customized table.comparison tr td {
	border: none }

.customized table tr td.caption {
	vertical-align: text-top }

.customized img {
	margin: 0 }

.customized table pre {
	margin-top:    5px;
	margin-bottom: 5px; }

a.reference {
	font-size:  50%;
	text-align: right }
